@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

.loading-spinner {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;  
}
    